<div>
    <h1>Primeiros Passos</h1>
    <h2>Antes de começar a codar, vamos configurar o ambiente?</h2>
    <div>
        <h2>Editor de texto</h2>
        <p> Existem vários tipos de editor, porém um que é gratuito e muito utilizado é o vs code da Microsoft,
             e mesmo que você tenho um Mac ou use Linux, pode baixar ele, que ele vai rodar e é super leve.</p>
    </div>
    <div>
        <h2>Node Js</h2>
        <p>O Node.js é um ambiente de tempo de execução de plataforma aberta para JavaScript do lado do servidor. O Node.js é necessário para executar o JavaScript sem um suporte ao navegador. Ele usa o mecanismo JavaScript do Google V8 para executar o código. Você pode baixar o código-fonte do Node.js. ou um instalador pré-criado para sua plataforma.
             O node está disponível pelo link a seguir: https://nodejs.org/en/download</p>
        <p>Verifique no site, como proceder para instalar no sistema operacional que você utiliza!</p>
        <p>Ao finalizar a instalação, para verificar a versão instalada, é só abrir o cmd (ou terminal de sua preferência) e digitar :
            node -v e teclar "Enter", em seguida aparecerá abaixo a versão que está instaldo na sua máquina.
        </p>
    </div>
    <div>
        <h2>NPM</h2>
        <p>Npm é um gerenciador de pacotes do Node, Node Package Manager,normalmente ele é instalado automaticamente junto com o node, e 
            para verificar a sua versão, basta digitar no cmd (ou terminal de sua preferência) o seguinte comando: npm -v
        </p>
    </div>
    <div>
        <h2>Typescript</h2>
        <p> Como já baixamos o npm, podemos usar o terminal para isto, basta apenas digitar o seguinte comando: 
            npm install -g typescript
        </p>
        <p>Para verificar a versão instalada, digite : tsc -v</p>
    </div>
    <di>
        <h2>IDE</h2>
        <p>
            Aqui você pode escolher o IDE ou editor de texto que você preferir, recomendo o Vs Code, por ele ser Opensource e 
            por ter disponibilidade para várias plataformas além da Microsoft, como a Mac ou Linux.
        </p>
    </di>
</div>
