<div>
    <h1>O que é Typescript?</h1>
    <h2>Um resumo das princiais características e definições sobre</h2>
    <div>
        <h2>Definição de Typescript</h2>
        <p>
            Por definição, "TypeScript é JavaScript para desenvolvimento de aplicações / ou aplicativos em escala". É uma linguagem compilada, fortemente tipada e orientada a objetos. Foi projetada por Anders Hejlsberg (designer do C #)
            na Microsoft. O TypeScript é uma linguagem e um conjunto de ferramentas que podemos utilizar para trabalhar com projetos web. É, também, considerada um superconjunto de JavaScript compilado em JavaScript. Em outras palavras, o TypeScript é JavaScript, acoplada de recursos adicionais.
        </p>
    </div>
    <div>
        <h2>Funcionamento básico</h2>
        <p>
            TypeScript é apenas JavaScript . Começa com JavaScript e termina com JavaScript. Adota os blocos
             de construção básicos do seu programa a partir do JavaScript.
              Portanto, você só precisa saber JavaScript para usar o TypeScript.
             Todo o código TypeScript é convertido em seu equivalente em JavaScript para fins de execução
        </p>
    </div>
    <div>
        <h2>Motivações do uso</h2>
        <p>Compilação - JavaScript é uma linguagem interpretada. Portanto,
             ele precisa ser executado para testar se é válido. Isso significa que você escreve todos os códigos apenas para não encontrar saída, caso haja um erro. Portanto, você precisa passar horas tentando encontrar erros no código. O transpilador TypeScript fornece o recurso de verificação de erros. O TypeScript irá compilar o código e gerar erros de compilação,
             se encontrar algum tipo de erro de sintaxe. Isso ajuda a destacar erros antes da execução do script.
        </p>
        <p>
            Forte Static Typing - O TypeScript é fornecido com um sistema estático opcional de typing e inferência de tipos através do TLS (TypeScript Language Service - Serviço de Linguagem TypeScript).
             O tipo de uma variável, declarada sem definição de  tipo, pode ser inferida pelo TLS com base em seu valor.
        </p>
        <p>
            O TypeScript suporta definições de tipo para bibliotecas JavaScript existentes. O arquivo de definição TypeScript (com extensão .d.ts ) fornece definição para bibliotecas JavaScript externas.
             Portanto, o código TypeScript pode conter essas bibliotecas
        </p>
        <p>
            O TypeScript suporta conceitos de programação orientada a objetos , como classes, interfaces, herança etc. Uma das motivações de maior importância.
        </p>
    </div>
    <div>
        <h2>Componentes</h2>
        <p>
            Basicamente temos três componentes default, que são:
            <ul>
                <li>Linguagem:  É composto pela sintaxe, pelas palavras-chave e pelas anotações de tipo.</li>
                <li>O compilador TS: O compilador TypeScript (tsc) converte as instruções escritas em TypeScript em seu equivalente em JavaScript.</li>
                <li>O TypeScript Language Service -  serviço de linguagem TypeScript - O "Serviço de linguagem" expõe uma camada adicional ao redor do pipeline do compilador principal que são aplicativos semelhantes a editor. O serviço de linguagem suporta o conjunto comum de operações típicas de um editor, como conclusão de instruções, ajuda de assinatura, formatação e estrutura de códigos, colorização, etc. </li>
            </ul>
        </p>
    </div>
</div>